<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta charset="UTF-8">
<title>FLECT ELECTRONICS | アカウント作成 - 入力</title>
<meta name="description" content="XXXXXXXXXX">
<meta name="keywords" content="XXXXXXXXXX">
<noscript>
<meta http-equiv="refresh" content="0; URL=../common/js_error.html">
</noscript>
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png" />
<link href="@{'/public/stylesheets/mediaqueries.css'}" rel="stylesheet" />
<link href="@{'/public/stylesheets/style.css'}" rel="stylesheet" />
<link href="@{'/public/stylesheets/account.css'}" rel="stylesheet" />
</head>
<body>
<div id="signInModal" class="modal">
    <h2>サインイン</h2>
    #{form @Application.login(username, password)}
        <div id="signIn">
            <input class="input" type="email" name="username" size="30" placeholder="メールアドレス" value="${email}" />
            <input class="input" type="password" name="password" size="30" placeholder="パスワード" value="${password}"/>
            <input id="closeSignIn" class="button50Left" type="submit" value="キャンセル" />
            <input class="button50Right" type="submit" value="サインイン" />
        </div>
        <hr>
        <div id="resetPassword" class="clearFix">
            <a href="#">
                <ul>
                    <li>パスワードをお忘れですか？</li>
                    <li class="arrow">></li>
                </ul>
            </a>
        </div>
        <hr>
        <div id="createAccount" class="clearFix">
            <a href="@{Signup.index()}">
                <ul>
                    <li>アカウントの作成</li>
                    <li class="arrow">></li>
                </ul>
            </a>
        </div>
        <hr>
    #{/form}
</div>

<div id="wrap">

    <header class="navigation-bar black">
        <div class="navButton bordered back">
            <span class="label"><a href="@{Application.index()}">HOME</a></span>
        </div>
        <h1>アカウントの作成（入力）</h1>
        <div>
            <span class="messageSignIn">${loginNickname}</span>
        </div>
        <div class="navButton bordered">
            #{if loginNickname == "ゲスト"}
                <span class="signIn"><a href="#" id="showSignInModal">サインイン</a></span>
            #{/if}
            #{else}
                <span class="label signIn"><a href="@{Application.logout()}" id="	">サインアウト</a></span>
            #{/else}
        </div>
    </header><!--/header-->

    <div id="searchBox">
        #{form @Question.search(q)}
            <input id="keywords" name="q" type="text" placeholder="キーワード検索" />
            <input id="buttonSearch" type="image" src="@{'/public/images/common/icon_search.png'}" />
        #{/form}
    </div><!--/Search Box-->

    <div id="content">
        <div id="main">

            <div id="centerBox">
                <div id="mainHead">
                    <p>1. アカウント情報を入力してください。</p>
                </div>

                #{form @Signup.confirm(nickname, username, password, passwordConfirm, avator) ,method:'POST'}
<!--
                    <ul class="globalCoution">
                        <li>エラーメッセージエラーメッセージエラーメッセージエラーメッセージ</li>
                        <li>エラーメッセージエラーメッセージエラーメッセージエラーメッセージ</li>
-->
                    </ul>
                    <div id="account">
                        <dl>
                            <dt>
                                <label>ニックネーム</label>
                                <span class="essential smallSize">必須</span>
                            </dt>
                            <dd>
                                <input type="text" class="text" size="30" name="nickname" value="${nickname}" />
<!--
                                <ul class="coution">
                                    <li>エラーメッセージエラーメッセージ</li>
                                    <li>エラーメッセージエラーメッセージ</li>
                                </ul>
-->
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label>メールアドレス</label>
                                <span class="essential smallSize">必須</span>
                            </dt>
                            <dd>
                                <input type="text" class="text" size="30" name="username" value="${username}" />
                                <!--
                                <ul class="coution">
                                    <li>エラーメッセージエラーメッセージ</li>
                                    <li>エラーメッセージエラーメッセージ</li>
                                </ul>
                                -->
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label>パスワード</label>
                                <span class="essential smallSize">必須</span>
                            </dt>
                            <dd>
                                <input type="password" class="text" size="30" name="password" />
                                <!--
                                <ul class="coution">
                                    <li>エラーメッセージエラーメッセージ</li>
                                    <li>エラーメッセージエラーメッセージ</li>
                                </ul>
                                -->
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label>確認パスワード</label>
                                <span class="essential smallSize">必須</span>
                            </dt>
                            <dd>
                                <input type="password" class="text" size="30" name="passwordConfirm" />
                                <!--
                                <ul class="coution">
                                    <li>エラーメッセージエラーメッセージ</li>
                                    <li>エラーメッセージエラーメッセージ</li>
                                </ul>
                                -->
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label>アバター画像</label>
                                <p class="essential largeSize">写真を選択してください。アバター画像は質問や回答の横に表示されます。</p>
                            </dt>
                            <dd>
                                <div class="avatar clearFix">
                                    <ul>
                                        <li class="avatar1">
                                            <img src="@{'/public/images/avator/01_s.jpg'}" alt="" />
                                            <input id="avt1" name="avator" type="radio" value="01" checked="checked" />
                                        </li>
                                        <li class="avatar2">
                                            <img src="@{'/public/images/avator/02_s.jpg'}" alt="" />
                                            <input id="avt2" name="avator" type="radio" value="02" />
                                        </li>
                                        <li class="avatar3">
                                            <img src="@{'/public/images/avator/03_s.jpg'}" alt="" />
                                            <input id="avt3" name="avator" type="radio" value="03" />
                                        </li>
                                        <li class="avatar4">
                                            <img src="@{'/public/images/avator/04_s.jpg'}" alt="" />
                                            <input id="avt4" name="avator" type="radio" value="04" />
                                        </li>
                                        <li class="avatar5">
                                            <img src="@{'/public/images/avator/05_s.jpg'}" alt="" />
                                            <input id="avt5" name="avator" type="radio" value="05" />
                                        </li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label>持っている製品</label>
                                <p class="essential largeSize">お持ちの製品をすべて選択してください</p>
                            </dt>
                            <dd>
                                <ul class="checklist">
                                    <label><b>テレビ</b></label>
                                    <li>
                                        <input id="tv1" name="tv" type="checkbox" value="">
                                        <label for="tv1">TV-P-001</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="tv2" name="tv" type="checkbox" value="">
                                        <label for="tv2">TV-P-002</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="tv3" name="tv" type="checkbox" value="" checked="checked" >
                                        <label for="tv3">TV-P-003</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="tv4" name="tv" type="checkbox" value="">
                                        <label for="tv4">TV-P-001</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="tv5" name="tv" type="checkbox" value="">
                                        <label for="tv5">TV-P-002</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="tv6" name="tv" type="checkbox" value="">
                                        <label for="tv6">TV-P-0033-33333333</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>

                                    <label><b>レコーダー</b></label>
                                    <li>
                                        <input id="rec1" name="rec" type="checkbox" value="">
                                        <label for="rec1">REC-B-001</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="rec2" name="rec" type="checkbox" value="">
                                        <label for="rec2">REC-B-002</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="rec3" name="rec" type="checkbox" value="">
                                        <label for="rec3">REC-B-003</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>

                                    <label><b>ヘッドホン</b></label>
                                    <li>
                                        <input id="rec1" name="he'd" type="checkbox" value="">
                                        <label for="rec1">HED-N-001</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="rec2" name="he'd" type="checkbox" value="">
                                        <label for="rec2">HED-N-002</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="rec3" name="he'd" type="checkbox" value="">
                                        <label for="rec3">HED-N-003</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>

                                    <label><b>デジタルカメラ</b></label>
                                    <li>
                                        <input id="cam1" name="cam" type="checkbox" value="">
                                        <label for="cam1">CAM-S-001</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="cam2" name="cam" type="checkbox" value="">
                                        <label for="cam2">CAM-S-002</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="cam3" name="cam" type="checkbox" value="">
                                        <label for="cam3">CAM-S-003</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>

                                    <label><b>周辺機器</b></label>
                                    <li>
                                        <input id="etc1" name="etc" type="checkbox" value="">
                                        <label for="etc1">ETC-H-001</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="etc2" name="etc" type="checkbox" value="">
                                        <label for="etc2">ETC-H-002</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                    <li>
                                        <input id="etc3" name="etc" type="checkbox" value="">
                                        <label for="etc3">ETC-H-003</label>
                                        <a class="checkbox-select" href="#">選択</a>
                                        <a class="checkbox-deselect" href="#">取消</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="buttonArea">
                        <input class="buttonCenter" type="submit" name="" value="確認する" />
                    </div>
                #{/form}
            </div>

        </div><!--/main-->

        <div id="side">
            <div id="side1">
                <a href="@{Question.search()}">
                    <h2>&nbsp;<span>&nbsp;</span>&nbsp;質問をさがす</h2>
                    <p>FLECT製品についてのQAを検索してみよう！</p>
                </a>
            </div>
            <div id="side2">
                <a href="#">
                    <h2>&nbsp;<span>&nbsp;</span>&nbsp;お知らせ1</h2>
                    <p>フレクトはCloudforce '11のゴールドスポンサーです。もともとWeb専業開発だったのですが、2009年よりSalesforce事業に取り組んでいます。30歳前後の社員が中心の元気いっぱいの開発会社です！</p>
                </a>
            </div>
            <div id="side3">
                <a href="#">
                    <h2>&nbsp;<span>&nbsp;</span>&nbsp;お知らせ2</h2>
                    <p>フレクトの強みはリクルート様や紀伊國屋書店様などのサイト構築で培ったWeb開発力と、たくさんの認定デベロッパーを擁するSalesforce上での開発力の両方を備えている点です。SalesforceのWeb連携ならフレクトにお声掛けください！</p>
                </a>
            </div>
        </div><!--/side-->

    </div><!--/content-->

    <footer>
        <div id="backToTop"><a href="#wrap"></a></div>
    </footer><!--/footer-->
</div><!--/wrap-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
#{script 'jquery.easing.1.3.js' /}
#{script 'common.js' /}
#{script 'ui-checkbox.js' /}
</body>
</html>

